*.o
*.a
*.orig
*.cmo
*.cmx
*.cmi
*.cma
*.cmxa
*.annot
*.so
*.hi
*.p_o
*.p_hi
storehouse/dist/*
libghc-rpc/dist/*
META
*~
xenmgr/xenmgr
.ocamldep.make
*.exe
*.stackdump

xenmgr/ghc-cc
xenmgr/ghc-ld
xenmgr/ld
xenmgr/local-packages.db

